{% extends "base.html" %}

{% block title %}Resume Ranking Portal{% endblock %}

{% block Addnav %}
<li class="nav-item">
  <a class="nav-link" href="/HR">HR Team</a>
</li>
{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 100px;">
  <h1 class="display-4">Welcome to Resume Ranking Portal</h1>
  <p class="lead mt-3">
    "Your career journey starts here. Let us help you showcase your skills and find the best opportunities."
  </p>
  <a href="/login" class="btn btn-danger btn-lg mt-4" role="button" >
    <i class="fab fa-google"></i> Login with Google </a>
 
</div>
{% endblock %}
